body {
    font-family: sans-serif;
    background-color: rgba(0, 0, 0, 0.904);
}

header {
    justify-content: space-between;
    padding: ;
    margin-bottom: 20px;
    display: flex;
}

.button {
    background-color: #36bbce;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
}

nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    justify-content: space-between;
    display: flex;
}

.nav-link {
    font-size: 24px;
    color: white;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: white;
    font-size: 36px;
    margin-top: ;
    margin-bottom: ;
}

p {
    font-size: 24px;
}

.info {
    flex-wrap: wrap;
    width: 1100px;
    margin: 0px;
    display: flex;
}

article {
    background-color: white;
    padding:10px ;
    width: 400px;
    margin:25px ;
}

.article-but {
    text-decoration: none;
    background-color: grey;
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
    margin: 25px;
}

footer {
    background-color: rgba(0, 0, 0, 0.452);
    padding: ;
    display: flex;
    color:white;
}

footer a {
    margin-right: ;
}

footer p {
    font-size: 24px;
}
